<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.moguri.event.quiz.repository.QuizMapper">

    <resultMap id="quizMap" type="org.moguri.event.quiz.domain.Quiz">
        <id column="quiz_id" property="quizId"/>
        <result column="question" property="question"/>
        <result column="type" property="type"/>
        <result column="example1" property="example1"/>
        <result column="example2" property="example2"/>
        <result column="example3" property="example3"/>
        <result column="example4" property="example4"/>
        <result column="answer" property="answer"/>
        <result column="created_at" property="createdAt"/>
        <result column="updated_at" property="updatedAt"/>
        <result column="deleted_at" property="deletedAt"/>
    </resultMap>

    <select id="getTotalCount" resultType="int">
        SELECT COUNT(*)
        FROM Quiz
    </select>

    <select id="getQuizzes"
            parameterType="org.moguri.common.response.PageRequest"
            resultType="org.moguri.event.quiz.domain.Quiz">
        SELECT *
        FROM Quiz
                 LIMIT #{limit}
        OFFSET #{offset}
    </select>

    <select id="getQuiz"
            resultType="org.moguri.event.quiz.domain.Quiz">
        SELECT *
        FROM Quiz
        WHERE quiz_id = #{quizId}
    </select>

    <insert id="createQuiz" parameterType="org.moguri.event.quiz.domain.Quiz">
        INSERT INTO Quiz (question, type, example1, example2, example3, example4, answer, created_at)
        VALUES (#{question}, #{type}, #{example1}, #{example2}, #{example3}, #{example4}, #{answer}, NOW())

        <selectKey resultType="Long" keyProperty="quizId" order="AFTER">
            SELECT LAST_INSERT_ID()
        </selectKey>
    </insert>

    <update id="updateQuiz" parameterType="org.moguri.event.quiz.domain.Quiz">
        UPDATE Quiz
        SET question     = #{question},
            type         = #{type},
            example1     = #{example1},
            example2     = #{example2},
            example3     = #{example3},
            example4     = #{example4},
            answer       = #{answer},
            updated_at   = NOW()
        WHERE quiz_id= #{quizId}
    </update>

    <delete id="deleteQuiz">
        DELETE
        FROM Quiz
        WHERE quiz_id= #{quizId}
    </delete>

    <select id="hasUserQuizPartToday" resultType="boolean">
        SELECT CASE
                   WHEN COUNT(*) > 0 THEN TRUE
                   ELSE FALSE
                   END AS has_quizpart_today
        FROM QuizPart
        WHERE MEMBER_ID = #{memberId}
          AND QUIZ_TYPE = #{quizType}
          AND PART_DATE = CURDATE()
    </select>

    <insert id="createQuizPartToday" parameterType="org.moguri.event.quiz.domain.QuizPart">
        INSERT INTO QuizPart (MEMBER_ID, QUIZ_TYPE, PART_DATE)
        VALUES (#{memberId}, #{quizType}, NOW())

        <selectKey resultType="Long" keyProperty="quizpartId" order="AFTER">
            SELECT LAST_INSERT_ID()
        </selectKey>
    </insert>
</mapper>