<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.moguri.member.repository.MemberMapper">

    <!-- 전체 멤버 조회 쿼리 -->
    <select id="findAll" resultType="Member">
        SELECT id,
               email,
               password,
               nickName,
               cottonCandy,
               role,
               createdAt,
               updatedAt,
               deletedAt
        FROM member
        ORDER BY createdAt DESC
            LIMIT #{pageRequest.size}
        OFFSET #{pageRequest.offset}
    </select>

    <!-- 총 멤버 수 조회 쿼리 -->
    <select id="getTotalCount" resultType="int">
        SELECT COUNT(*)
        FROM member
    </select>

    <!-- 멤버 저장 쿼리 -->
    <insert id="save" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO member (email, password, nickName, cottonCandy, role, createdAt, updatedAt)
        VALUES (#{email}, #{password}, #{nickName}, #{cottonCandy}, #{role}, NOW(), NOW())
    </insert>

    <!-- ID로 멤버 조회 쿼리 -->
    <select id="findById" resultType="Member">
        SELECT id,
               email,
               password,
               nickName,
               cottonCandy,
               role,
               createdAt,
               updatedAt,
               deletedAt
        FROM member
        WHERE id = #{id}
    </select>

    <!-- 멤버 정보 수정 쿼리 -->
    <update id="update">
        UPDATE member
        SET email       = #{param.email},
            password    = #{param.password},
            nickName    = #{param.nickName},
            cottonCandy = #{param.cottonCandy},
            role        = #{param.role},
            updatedAt   = NOW()
        WHERE id = #{id}
    </update>

    <!-- 멤버 삭제 쿼리 (소프트 삭제) -->
    <update id="delete">
        UPDATE member
        SET deletedAt = NOW()
        WHERE id = #{id}
    </update>

</mapper>